Repository paroki/paroki: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

set codecov threshold
  codecov.yaml
Due: none

fix rsync command
  .travis.yml
Due: none

fixed codecov config
  .travis.yml
  README.md
  codecov.yaml
Due: none

fixed duplicate php version tests
  .travis.yml
Due: none

rsync command fix
  .travis.yml
Due: none

removed unused .nvmrc file
  .nvmrc
Due: none

added validation for Baptis entity
  api/src/Baptis/Resources/config/doctrine/Baptis.orm.xml
  api/src/Baptis/Resources/config/validation/Baptis.yaml
  api/src/Core/Resources/config/validation/Biodata.yaml
Due: api

added spec for AbstractBiodata and Baptis entity
  api/bin/test.sh
  api/composer.json
  api/phpspec.yml.dist
  api/src/Baptis/Entity/Baptis.php
  api/src/Baptis/Resources/config/validation/Baptis.yaml
  api/src/Baptis/Spec/Entity/BaptisSpec.php
  api/src/Core/Entity/AbstractBiodata.php
  api/src/Core/Resources/config/validation/Biodata.yaml
  api/src/Core/Test/MutableSpecTrait.php
  api/src/User/Resources/config/doctrine/User.orm.xml
Due: api

added spec for BaptisKomuni entity
  api/bin/test.sh
  api/features/api/baptis/validation.feature
  api/features/bootstrap.php
  api/src/Baptis/Entity/Baptis.php
  api/src/Baptis/Entity/BaptisKomuni.php
  api/src/Baptis/Entity/Diterima.php
  api/src/Baptis/Spec/Entity/BaptisKomuniSpec.php
  api/src/Baptis/Spec/Entity/BaptisSpec.php
  api/src/Core/Entity/AbstractBiodata.php
  api/src/Core/Entity/DokumenOwnerTrait.php
  api/src/Core/Entity/LoggableTrait.php
  api/src/Core/Entity/RequireParokiTrait.php
  api/src/Core/Test/MutableSpecTrait.php
  api/src/Reference/Entity/Lingkungan.php
  api/src/Reference/Entity/Wilayah.php
  api/src/User/Entity/User.php
  api/src/User/Listener/AuthenticationFailureListener.php
  api/src/User/Spec/Listener/AuthenticationFailureListenerSpec.php
Due: api

making travis not running in integration test
  .travis.yml
Due: none

added spec for BaptisKrisma, BaptisPerkawinan, and Diterima
  api/src/Baptis/Entity/BaptisKrisma.php
  api/src/Baptis/Entity/BaptisPerkawinan.php
  api/src/Baptis/Entity/Diterima.php
  api/src/Baptis/Spec/Entity/BaptisKrismaSpec.php
  api/src/Baptis/Spec/Entity/BaptisPerkawinanSpec.php
  api/src/Baptis/Spec/Entity/DiterimaSpec.php
Due: api

added a way to automate kode baptis ref #10
  api/behat.yml.dist
  api/composer.json
  api/features/api/baptis/crud.feature
  api/src/Baptis/Listener/BaptisListener.php
  api/src/Baptis/Listeners/BaptisListener.php
  api/src/Baptis/Resources/config/serialization/Baptis.yaml
  api/src/Baptis/Resources/config/services.xml
  api/src/Baptis/Resources/config/validation/Baptis.yaml
  api/src/Baptis/Services/BaptisManager.php
  api/src/Baptis/Spec/Listeners/BaptisListenerSpec.php
  api/src/Baptis/Tests/BaptisTest.php
  api/src/Behat/Contexts/BaptisContext.php
  api/src/Behat/Contexts/ReferenceContext.php
  api/src/Core/Resources/config/serialization/Biodata.yaml
  api/src/Reference/Events.php
  api/src/Reference/Events/SetParokiEvent.php
  api/src/Reference/Listener/ReferenceListener.php
  api/src/Reference/Spec/Listener/ReferenceListenerSpec.php
Due: api

added BaptisContext during behat coverage test
  api/behat.yml.dist
Due: none

fixed travis test condition
  .travis.yml
Due: none

upgraded client node version
  client/Dockerfile
Due: none

improved travis config to deploy only on master branch
  .travis.yml
Due: none

test
  .travis.yml
Due: none

test
  .travis.yml
  etc/travis/install.sh
Due: none

test
  .travis.yml
  etc/travis/test.sh
Due: none

test
  etc/travis/install.sh
Due: none

test
  etc/travis/install.sh
  etc/travis/test.sh
Due: none

test
  .travis.yml
  etc/travis/after-script.sh
  etc/travis/install.sh
  etc/travis/integration.sh
  etc/travis/lib/common.sh
Due: none

test
  etc/travis/after-script.sh
Due: none

travis build improvement
  .travis.yml
  etc/travis/after-script.sh
  etc/travis/install.sh
  etc/travis/integration.sh
  etc/travis/lib/common.sh
  etc/travis/test.sh
Due: none

added user Update component spec
  client/package.json
  client/src/components/index.js
  client/src/modules/routes.js
  client/src/modules/user/views/Update.vue
  client/src/router.js
  client/tests/unit/helper.js
  client/tests/unit/modules/user/views/Update.spec.js
  client/tests/unit/router.spec.js
  client/yarn.lock
Due: client

improved Update spec
  client/package.json
  client/src/components/index.js
  client/src/modules/user/store/update/actions.js
  client/src/modules/user/store/update/mutations.js
  client/src/modules/user/views/Update.vue
  client/tests/unit/helper.js
  client/tests/unit/modules/user/views/Update.spec.js
  client/tests/unit/router.spec.js
  client/yarn.lock
  etc/travis/install.sh
Due: client

test
  .travis.yml
  etc/travis/after-script.sh
  etc/travis/install.sh
  etc/travis/integration.sh
  etc/travis/nginx.conf
Due: none

test
  .travis.yml
  etc/travis/install.sh
  etc/travis/integration.sh
  etc/travis/nginx.conf
Due: none

Path conditions:
  api: any of: api/src
  client: any of: client/src
